In [29]:
import pandas as pd

In [2]:
10+3

13

In [3]:
3*5

15

In [5]:
(10+5)*3

45

In [6]:
10+5*3

25

In [9]:
10/5 # floor division

2.0

In [12]:
10//5 #int division

2

In [14]:
name = 'naresh it technlogy'

In [15]:
print(name,type(name))

naresh it technlogy <class 'str'>

In [16]:
'naresh it technology'

'naresh it technology'

In [17]:
"naresh it technology"

'naresh it technology'

In [20]:
"""naresh it technology"""

'naresh it technology'

In [21]:
'''naresh it technology'''

'naresh it technology'

In [24]:
"""Artificial intelligence (AI) is a set of technologies that enable computers
to perform a variety of advanced functions, including the ability to see, understand and translate spoken and written language,
analyze data,make recommendations, and more"""

'Artificial intelligence (AI) is a set of technologies that enable computers\nto perform a variety of advanced functions, including the ability to see, understand and translate spoken and written language, analyze data,\nmake recommendations, and more'

In [25]:
s='naresh it technology'

In [26]:
s

'naresh it technology'

In [27]:
print(s,type(s))

naresh it technology <class 'str'>

In [30]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                  index=['cobra', 'viper', 'sidewinder'],
                  columns=['max_speed', 'shield'])

In [33]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [38]:
df.loc['cobra']

max_speed    1
shield       2
Name: cobra, dtype: int64

In [40]:
df.iloc[0]

max_speed    1
shield       2
Name: cobra, dtype: int64

In [41]:
import sys

In [43]:
print(sys.version)

3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:38:37) [MSC v.1916 64 bit (AMD64)]

In [44]:
import keyword as kw

In [46]:
print(len(kw.kwlist))

35

In [47]:
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [48]:
print(len(['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']))

35

# Variables

In [49]:
a = 5

In [50]:
print(a,type(a))

5 <class 'int'>

In [51]:
type(a)

int

In [52]:
id(a)

140722497557416

In [53]:
b=5.5

In [54]:
print(b,type(b),id(b))

5.5 <class 'float'> 2058212002800

In [58]:
def family(mom,dad,son,daugter):
    pass

In [59]:
def family1():
    pass

In [60]:
age = 25

In [61]:
print(age)

25

In [63]:
name='Angelina'
print(name)

Angelina

In [64]:
price = 3.14

In [65]:
print(price,type(price))

3.14 <class 'float'>

In [66]:
a=5

In [67]:
print(a,type(a))

5 <class 'int'>

# Rules to define variables

In [68]:
v = 23

In [69]:
1v = 25

SyntaxError: invalid decimal literal (3918032692.py, line 1)

In [70]:
def = 88

SyntaxError: invalid syntax (52111647.py, line 1)

In [71]:
import keyword as kw
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [72]:
len(kw.kwlist)

35

In [73]:
NIT=33
nit

NameError: name 'nit' is not defined

In [74]:
NIT

33

In [75]:
hello$ = 494

SyntaxError: invalid syntax (1673245766.py, line 1)

In [76]:
hello_=39

In [78]:
print(hello_)

39

In [79]:
_hello='angelina'

In [80]:
print(_hello)

angelina

In [81]:
first name = 'angelina'

SyntaxError: invalid syntax (3035139918.py, line 1)

In [82]:
first = 'angelina'

In [83]:
 first = 'salma'

In [84]:
first

'salma'

In [85]:
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa = 99

In [86]:
aaaaaaaaaaaaaa

NameError: name 'aaaaaaaaaaaaaa' is not defined

In [88]:
print(aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa)

99

# int data type

In [89]:
a = 10

In [40]:
print(a,type(a))

32 <class 'int'>

In [90]:
a = 45

In [41]:
print(a,type(a))

32 <class 'int'>

In [93]:
a,b,c = 30,40,50

In [94]:
print(a,b,c)

30 40 50

In [95]:
print(a)
print(b)
print(c)

30
40
50

In [96]:
2=a

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2060733634.py, line 1)

In [1]:
import sys
print(sys.version)

3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:38:37) [MSC v.1916 64 bit (AMD64)]

In [1]:
import keyword as kw 
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
len(kw.kwlist)

35

# Variables

In [3]:
name = 'Angelina'
print(name)

Angelina

In [4]:
a=5

In [5]:
print(a)

5

In [6]:
age = 25
print(f' Age is {age}')

 Age is 25

In [7]:
name = 'Angelina'
print(f'My favourite actress is {name}')

My favourite actress is Angelina

In [8]:
is_active = True
print(f'My driving license status {is_active}')

My driving license status True

In [9]:
x = 10
print(f'x is {x}')

x is 10

In [10]:
a = 5
b  = 4
result = a *b
print(f'Multiplication of {a} and {b} is {result}')

Multiplication of 5 and 4 is 20

In [11]:
initial_runs = 240
print(f'My initial runs is {initial_runs}')
initial_runs = 320
print(f'My latest runs score is {initial_runs}')

My initial runs is 240
My latest runs score is 320

In [13]:
first_name = 'Samantha'
last_name = 'Prabhu'

full_name = first_name+" "+ last_name
print(f'Full name is {full_name}')

Full name is Samantha Prabhu

In [14]:
length = 10
width = 7
area = length*width
print(f'Area of rectangle of length {length} and width {width} is {area}')

Area of rectangle of length 10 and width 7 is 70

In [24]:
x=10
print(x)

10

In [25]:
x=20
print(f'New value is {x}')

New value is 20

In [26]:
movies = ['Mentalist','Bosch','Monk','Pushpa']
print(f'List of movies is {movies}')

List of movies is ['Mentalist', 'Bosch', 'Monk', 'Pushpa']

In [27]:
person = {
    'name':'Angelina',
    'age':36,
    'actress':'acting'
}

In [28]:
print(f'my person details is {person}')

my person details is {'name': 'Angelina', 'age': 36, 'actress': 'acting'}

In [29]:
class House:
    def __init__(self,strt_address,city,price,sqft=2000):
        self.strt_address = strt_address,
        self.sqft = sqft
        self.city = city
        self.price = price
    def display(self):
        print(f'House details are \n{self.strt_address}\n {self.city} with {self.city}\n at Price {self.price}')

In [30]:
house = House('86 Elcamino Real',city='San Francisco',price=786000)

In [31]:
house.display()

House details are
('86 Elcamino Real',)
 San Francisco with San Francisco
 at Price 786000

In [32]:
a = 32
print(a,type(a),id(a))

32 <class 'int'> 140723061783960

In [33]:
b = 5.5
print(b,type(b),id(b))

5.5 <class 'float'> 2704834816496

In [34]:
type(a)

int

In [38]:
def family(mom,dad,son,daughter):
    print(f'Mom is {mom}')
    print(f'Dad is {dad}')
    print(f'son is {son}')
    print(f'daughter is {daughter}')

In [39]:
family('kevin','aruna','abhi','kiki')

Mom is kevin
Dad is aruna
son is abhi
daughter is kiki

#9th

In [42]:
1init = 100

<>:1: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
C:\Users\nages\AppData\Local\Temp\ipykernel_59908\2589027437.py:1: SyntaxWarning: invalid decimal literal
  1init = 100

SyntaxError: invalid syntax (2589027437.py, line 1)

In [43]:
a b = 8

SyntaxError: invalid syntax (1304065820.py, line 1)

In [44]:
import keyword as kw
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [45]:
IF =90

# Primitive Data Type
. int
. float
. bool
. complex
. str

In [46]:
i = 4

In [47]:
print(i, type(i))

4 <class 'int'>

In [48]:
petrol = 110.22

In [49]:
print(petrol,type(petrol))

110.22 <class 'float'>

In [51]:
f1 = 3e0

In [52]:
f2  = 3e1
print(f1,type(f2))

3.0 <class 'float'>

In [53]:
age = 3e2
print(age,type(age))

300.0 <class 'float'>

In [54]:
f3 = 3e3
print(f3,type(f3))

3000.0 <class 'float'>

In [55]:
f4 = 2.3e4

In [56]:
print(f4,type(f4))

23000.0 <class 'float'>

In [57]:
true

NameError: name 'true' is not defined

# Bool data type

In [58]:
True

True

In [59]:
False

False

In [60]:
false

NameError: name 'false' is not defined

In [61]:
FALSE

NameError: name 'FALSE' is not defined

In [62]:
FALSE

NameError: name 'FALSE' is not defined

In [63]:
none

NameError: name 'none' is not defined

In [64]:
None

In [65]:
True + False + None

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [66]:
True + False

1

In [67]:
True + True

2

In [68]:
True + False * True - False

1

In [69]:
True + (False * True) - False

1

In [70]:
True + (False*True) - True

0

In [72]:
b = True + (False*True) - True
print(b,type(b))

0 <class 'int'>

In [75]:
num1 = 30
num2 = 40
result = num1 + num2
print(f' Additon  of {num1} and {num2} is = {result}')

 Additon  of 30 and 40 is = 70

# Syntax for complex is a+bj

In [77]:
c = 10+20j
print(c,type(c))

(10+20j) <class 'complex'>

In [78]:
d = 30 + 40j
print(d,type(d))

(30+40j) <class 'complex'>

In [81]:
result = c+d
print(result)

(40+60j)

In [82]:
c-d

(-20-20j)

In [84]:
c

(10+20j)

In [85]:
c.real

10.0

In [86]:
c.imag

20.0

In [88]:
complex = 23+4j

In [2]:
define = 'angelina'

In [3]:
print(define,type(define))

angelina <class 'str'>

In [4]:
import keyword as kw
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
NIT = 25
print(nit)

NameError: name 'nit' is not defined

In [6]:
_firstname = 'angelina'

In [7]:
print(_firstname)

angelina

In [8]:
h_ = 'i am allowed'
print(h_)

i am allowed

In [9]:
t = 89

In [10]:
print(t,type(t))

89 <class 'int'>

In [11]:
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa = 30

In [12]:
print(aaaaaaaaaaa)

NameError: name 'aaaaaaaaaaa' is not defined

In [13]:
ax = 30
print(ax,type(ax))

30 <class 'int'>

In [14]:
is_active  = True

In [15]:
print(is_active,type(is_active))

True <class 'bool'>

In [16]:
x = 30
print(x,type(x))

30 <class 'int'>

In [18]:
a = 30
print(a,type(a))

30 <class 'int'>

In [19]:
a = 40
print(a,type(a))

40 <class 'int'>

In [20]:
a,b = 10,20,30

ValueError: too many values to unpack (expected 2)

In [21]:
a,b,c = 10,20,30

In [22]:
print(a,b,c)

10 20 30

In [23]:
a
b
c

30

In [24]:
_+40

70

In [25]:
print(a)
print(b)
print(c)

10
20
30

In [26]:
print(a,b,c)

10 20 30