In [29]:
import pandas as pd

In [2]:
10+3

13

In [3]:
3*5

15

In [5]:
(10+5)*3

45

In [6]:
10+5*3

25

In [9]:
10/5 # floor division

2.0

In [12]:
10//5 #int division

2

In [14]:
name = 'naresh it technlogy'

In [15]:
print(name,type(name))

naresh it technlogy <class 'str'>

In [16]:
'naresh it technology'

'naresh it technology'

In [17]:
"naresh it technology"

'naresh it technology'

In [20]:
"""naresh it technology"""

'naresh it technology'

In [21]:
'''naresh it technology'''

'naresh it technology'

In [24]:
"""Artificial intelligence (AI) is a set of technologies that enable computers
to perform a variety of advanced functions, including the ability to see, understand and translate spoken and written language,
analyze data,make recommendations, and more"""

'Artificial intelligence (AI) is a set of technologies that enable computers\nto perform a variety of advanced functions, including the ability to see, understand and translate spoken and written language, analyze data,\nmake recommendations, and more'

In [25]:
s='naresh it technology'

In [26]:
s

'naresh it technology'

In [27]:
print(s,type(s))

naresh it technology <class 'str'>

In [30]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                  index=['cobra', 'viper', 'sidewinder'],
                  columns=['max_speed', 'shield'])

In [33]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [38]:
df.loc['cobra']

max_speed    1
shield       2
Name: cobra, dtype: int64

In [40]:
df.iloc[0]

max_speed    1
shield       2
Name: cobra, dtype: int64

In [41]:
import sys

In [43]:
print(sys.version)

3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:38:37) [MSC v.1916 64 bit (AMD64)]

In [44]:
import keyword as kw

In [46]:
print(len(kw.kwlist))

35

In [47]:
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [48]:
print(len(['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']))

35

# Variables

In [49]:
a = 5

In [50]:
print(a,type(a))

5 <class 'int'>

In [51]:
type(a)

int

In [52]:
id(a)

140722497557416

In [53]:
b=5.5

In [54]:
print(b,type(b),id(b))

5.5 <class 'float'> 2058212002800

In [58]:
def family(mom,dad,son,daugter):
    pass

In [59]:
def family1():
    pass

In [60]:
age = 25

In [61]:
print(age)

25

In [63]:
name='Angelina'
print(name)

Angelina

In [64]:
price = 3.14

In [65]:
print(price,type(price))

3.14 <class 'float'>

In [66]:
a=5

In [67]:
print(a,type(a))

5 <class 'int'>

# Rules to define variables

In [68]:
v = 23

In [69]:
1v = 25

SyntaxError: invalid decimal literal (3918032692.py, line 1)

In [70]:
def = 88

SyntaxError: invalid syntax (52111647.py, line 1)

In [71]:
import keyword as kw
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [72]:
len(kw.kwlist)

35

In [73]:
NIT=33
nit

NameError: name 'nit' is not defined

In [74]:
NIT

33

In [75]:
hello$ = 494

SyntaxError: invalid syntax (1673245766.py, line 1)

In [76]:
hello_=39

In [78]:
print(hello_)

39

In [79]:
_hello='angelina'

In [80]:
print(_hello)

angelina

In [81]:
first name = 'angelina'

SyntaxError: invalid syntax (3035139918.py, line 1)

In [82]:
first = 'angelina'

In [83]:
 first = 'salma'

In [84]:
first

'salma'

In [85]:
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa = 99

In [86]:
aaaaaaaaaaaaaa

NameError: name 'aaaaaaaaaaaaaa' is not defined

In [88]:
print(aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa)

99

In [89]:
a = 10

In [91]:
print(a)

45

In [90]:
a = 45

In [92]:
print(a)

45

In [93]:
a,b,c = 30,40,50

In [94]:
print(a,b,c)

30 40 50

In [95]:
print(a)
print(b)
print(c)

30
40
50

In [96]:
2=a

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2060733634.py, line 1)

In [1]:
import sys
print(sys.version)

3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:38:37) [MSC v.1916 64 bit (AMD64)]