In [1]:
lst = [10,20,30,40,50,60]
print(lst,type(lst))

[10, 20, 30, 40, 50, 60] <class 'list'>

In [2]:
lst1 = [10,'Angelina',True,3+4j,6.99]
print(lst1,type(lst1))

[10, 'Angelina', True, (3+4j), 6.99] <class 'list'>

In [3]:
lst1[0]

10

In [4]:
lst1[-1]

6.99

In [6]:
len(lst1)

5

In [7]:
lst1[-5]

10

In [8]:
lst1[0]==lst1[-5]

True

In [10]:
lst1[0]

10

In [11]:
lst1

[10, 'Angelina', True, (3+4j), 6.99]

In [12]:
lst1[0:2]

[10, 'Angelina']

In [13]:
lst1[2:4]

[True, (3+4j)]

In [14]:
lst1[0:4]

[10, 'Angelina', True, (3+4j)]

In [15]:
lst1

[10, 'Angelina', True, (3+4j), 6.99]

In [17]:
lst1[::2]

[10, True, 6.99]

In [19]:
lst1=[10,"Vamshi",45.67,True,2+3j,"Python"]

In [20]:
print(lst1,type(lst1),id(lst1))

[10, 'Vamshi', 45.67, True, (2+3j), 'Python'] <class 'list'> 2517836187904

In [21]:
lst1[1]='Rossum'

In [22]:
lst1

[10, 'Rossum', 45.67, True, (2+3j), 'Python']

In [23]:
print(lst1,type(lst1),id(lst1))

[10, 'Rossum', 45.67, True, (2+3j), 'Python'] <class 'list'> 2517836187904

In [30]:
lst1[0:3] = 22,'Angelina',99.99,False,'Salma',786

In [31]:
lst1

[22, 'Angelina', 99.99, False, 'Salma', 786, False, True, (2+3j), 'Python']

In [34]:
lst1[0:3]=77,'Samantha'

In [35]:
lst1

[77, 'Samantha', False, 'Salma', 786, False, True, (2+3j), 'Python']

In [36]:
lst = []

In [37]:
print(lst,type(lst),id(lst))

[] <class 'list'> 2517813652352

In [38]:
len(lst)

0

In [39]:
lst = [10,'RS',12.34]

In [40]:
print(lst,type(lst),id(lst))

[10, 'RS', 12.34] <class 'list'> 2517836083776

In [41]:
len(lst)

3

In [42]:
s='MISSISSIPPI'

In [43]:
print(s,type(s),id(s))

MISSISSIPPI <class 'str'> 2517814747376

In [44]:
lst = list(s)

In [45]:
print(lst,type(lst))

['M', 'I', 'S', 'S', 'I', 'S', 'S', 'I', 'P', 'P', 'I'] <class 'list'>

In [46]:
s='ABRACADABRA'

In [47]:
lst = list(s)

In [48]:
print(lst,type(lst))

['A', 'B', 'R', 'A', 'C', 'A', 'D', 'A', 'B', 'R', 'A'] <class 'list'>

In [49]:
lst = list(range(11))

In [50]:
print(lst,type(lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>

In [51]:
lst = list(range(10,21,2))

In [52]:
lst

[10, 12, 14, 16, 18, 20]

In [54]:
a=10
lst = list([a])

In [55]:
print(lst,type(lst))

[10] <class 'list'>

In [56]:
lst = list(a)

TypeError: 'int' object is not iterable

In [57]:
lst = list(10.75)

TypeError: 'float' object is not iterable

In [58]:
lst = list([10.75])

In [59]:
lst = list('PYTHON')

In [60]:
lst

['P', 'Y', 'T', 'H', 'O', 'N']

In [61]:
lst = list([s])

In [62]:
lst

['ABRACADABRA']

In [63]:
s='Python'
lst = list([s])

In [64]:
print(lst,type(lst))

['Python'] <class 'list'>

In [68]:
lst = []
lst.append(34)

In [69]:
print(lst)

[34]

In [70]:
lst = [10,'RS',45.67]

In [71]:
lst.append('Python')

In [72]:
lst

[10, 'RS', 45.67, 'Python']

In [73]:
lst.append(2+3j)

In [74]:
lst

[10, 'RS', 45.67, 'Python', (2+3j)]

In [75]:
lst = []
lst.append(10)
lst.append('Agnelina')
lst.append(True)
lst.append([10,20,30])

In [76]:
print(lst,type(lst),id(lst))

[10, 'Agnelina', True, [10, 20, 30]] <class 'list'> 2517836990848

In [78]:
lst=[]
lst.append(10)
lst.append('GR')
lst.append(True)
lst.append('Angelina')

In [79]:
lst

[10, 'GR', True, 'Angelina']