# Python programming

In [3]:
name = input("what's ur name sweetheart")

In [4]:
print(name)

Samantha

In [6]:
a=b=3

In [8]:
print(a,b)

3 3

In [9]:
a=55

In [10]:
print(a,b)

55 3

In [11]:
lst1 = [10,20,30,40]

In [12]:
lst2=lst1

In [13]:
print(lst1,lst2)

[10, 20, 30, 40] [10, 20, 30, 40]

In [14]:
lst1[0]=999

In [15]:
lst1

[999, 20, 30, 40]

In [16]:
lst2

[999, 20, 30, 40]

In [17]:
3+5

8

In [18]:
3*4

12

In [21]:
14/3

4.666666666666667

In [22]:
14//3

4

In [23]:
5%2

1

In [24]:
5**2

25

In [25]:
5==4

False

In [26]:
5!=4

True

In [27]:
5<6

True

In [28]:
5>6

False

In [29]:
5<=5

True

In [30]:
5>=5

True

In [31]:
a =[1,2,3]

In [32]:
b=[1,2,3]

In [33]:
a is b

False

In [34]:
a=[1,2,3]
b=a

In [35]:
a is b

True

In [36]:
'n' in 'Python'

True

In [37]:
Hello = 'Hello World'
print(Hello)

Hello World

In [38]:
print(Hello[0])

H

In [39]:
print(Hello)

Hello World

In [40]:
Hello[0]='M'

TypeError: 'str' object does not support item assignment

In [42]:
Hello='Salma'

In [43]:
Hello

'Salma'

In [44]:
Hello='Hello '+ 'World'

In [45]:
print(Hello)

Hello World

In [46]:
Hello = 'Ch' + Hello[1:]

In [48]:
print(Hello,type(Hello))

Chello World <class 'str'>

In [49]:
dir(Hello)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [50]:
lst =  [10,20,30,40]

In [51]:
lst.append(99)

In [52]:
lst

[10, 20, 30, 40, 99]

In [53]:
lst.append(4)

In [54]:
lst.append(15)

In [55]:
lst

[10, 20, 30, 40, 99, 4, 15]

In [56]:
lst.remove(30)

In [57]:
lst

[10, 20, 40, 99, 4, 15]

In [58]:
lst.remove(20)

In [59]:
lst

[10, 40, 99, 4, 15]

In [60]:
lst.append(24)

In [61]:
lst

[10, 40, 99, 4, 15, 24]

In [62]:
lst.sort()

In [63]:
lst

[4, 10, 15, 24, 40, 99]

In [64]:
lst = [5,'six',23,12]

In [65]:
lst[0]

5

In [66]:
lst[1]

'six'

In [67]:
lst[2]

23

In [68]:
lst

[5, 'six', 23, 12]

In [69]:
for item in lst:
    print(item)

5
six
23
12

In [70]:
lst

[5, 'six', 23, 12]

In [71]:
lst[-1]

12

In [72]:
s='PYTHON'

In [73]:
s[-1]

'N'

In [74]:
s[0:3]

'PYT'

In [75]:
lst

[5, 'six', 23, 12]

In [76]:
lst.append('True')

In [77]:
lst.append(False)

In [78]:
lst

[5, 'six', 23, 12, 'True', False]

In [79]:
lst[0:3]

[5, 'six', 23]

In [80]:
lst[:3]

[5, 'six', 23]

In [81]:
lst

[5, 'six', 23, 12, 'True', False]

In [82]:
lst[-2:]

['True', False]

In [83]:
lst[::-1]

[False, 'True', 12, 23, 'six', 5]

In [84]:
d1 = {
    'hi':1,
    'no':2,
    'see':3
}

In [85]:
print(d1,type(d1))

{'hi': 1, 'no': 2, 'see': 3} <class 'dict'>

In [86]:
lst=[3,4,5]

In [89]:
print(lst,type(lst))

[99, 4, 5] <class 'list'>

In [87]:
lst[0]=99

In [88]:
lst

[99, 4, 5]

In [90]:
t1=(1001,2002)

In [91]:
print(t1,type(t1))

(1001, 2002) <class 'tuple'>

In [92]:
t1[0]=111

TypeError: 'tuple' object does not support item assignment

In [98]:
evens = {2,4,6,8,10,12}
primes = {2,3,5,7}

In [99]:
print(evens,type(primes))

{2, 4, 6, 8, 10, 12} <class 'set'>

In [100]:
evens & primes

{2}

In [101]:
evens.intersection(primes)

{2}

In [109]:
def is_Even():
    x = input('plz enter a number')
    if  x=='!' :
        return -1
    if int(x)%2==0:
        print('x is even')
    elif int(x)%2!=0:
        print('x is Odd')
    else:
        print('U should NOT be here')

In [111]:
while True:
    result = is_Even()
    if result == -1:
        print('I Got to Go!! Bye!!')
        break

x is Odd
x is even
x is even
x is even
x is even
x is Odd
x is Odd
I Got to Go!! Bye!!

In [112]:
for item in range(1,11):
    print(item)

1
2
3
4
5
6
7
8
9
10

In [116]:
i =0
while i<10:
    print(f'I am while loop =>{i}')
    if i==5:
        break
    i+=1

I am while loop =>0
I am while loop =>1
I am while loop =>2
I am while loop =>3
I am while loop =>4
I am while loop =>5

In [122]:
for i in range(11):
    if i%2==0:
        continue
    print('I am in for loop',i)

I am in for loop 1
I am in for loop 3
I am in for loop 5
I am in for loop 7
I am in for loop 9

In [124]:
i=0
while True:
   print('I am in WHILE loop',i)
   i+=1
   if i>12:
       break

I am in WHILE loop 0
I am in WHILE loop 1
I am in WHILE loop 2
I am in WHILE loop 3
I am in WHILE loop 4
I am in WHILE loop 5
I am in WHILE loop 6
I am in WHILE loop 7
I am in WHILE loop 8
I am in WHILE loop 9
I am in WHILE loop 10
I am in WHILE loop 11
I am in WHILE loop 12

In [125]:
def squares(n):
    return n**2

In [126]:
squares(12)

144

In [129]:
for item in range(1,26,2):
    print(item)

1
3
5
7
9
11
13
15
17
19
21
23
25

In [133]:
import random
item = random.choice([3,7,9])
print('item is',item)
for i in [1,2,3,4,5,6]:
    print(f'{i} found')

item is 3
1 found
2 found
3 found
4 found
5 found
6 found

In [134]:
lst = [4,6,8,9,12]

In [135]:
for index,val in enumerate(lst):
    print(f'{index}==========>{val}')

0==========>4
1==========>6
2==========>8
3==========>9
4==========>12

In [136]:
power = lambda x:x**2

In [137]:
for item in map(power,range(6)):
    print(item)

0
1
4
9
16
25