In [1]:
age = 25
print(age,type(age))

25 <class 'int'>

In [2]:
name = 'Angelina'
print(name,type(name))

Angelina <class 'str'>

In [3]:
price = 24.55
print(price,type(price))

24.55 <class 'float'>

In [4]:
is_active = True
print(is_active,type(is_active))

True <class 'bool'>

In [5]:
x = 10
print(x,type(x))

10 <class 'int'>

In [6]:
a = 5
b = 4
result = a+b
print(result,type(result))

9 <class 'int'>

In [7]:
score = 50
print(f'initial value {score}')

score = 100
print(f'latest value is {score}')

initial value 50
latest value is 100

In [8]:
first_name = 'Angelina'
last_name = 'Jolie'
full_name = first_name+last_name
print(f'Full name is {full_name}')

Full name is AngelinaJolie

In [9]:
length = 10
width = 4
area = length*width
print(f'Area of rectangle for length: {length} and width: {width} is {area}')

Area of rectangle for length: 10 and width: 4 is 40

In [10]:
x = 10
print(x)

10

In [12]:
# Re-assigning variables to differnt value
x = 10
print(x)
x= 30
print(x)

10
30